
<h2>Add a new definition for $word.getUserWord():</h2>

<form action="/definitions" method="post">
  <input id="wordId" name="wordId" type="hidden" value="$word.getId()">

  <div class="form-group">
    <label for="definition">Enter word definition</label>
    <input id="definition" name="definition" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-default">Add Definition</button>
</form>
<br>
<br>
<a href="/">Home</a>
