

<h1>Online dictionary creator</h1>
<br>
<br>
<p><a href="/words/new">Add a new word<a></p>


  #foreach($word in $words)
  <h3><a href="/words/$word.getId()">$word.getUserWord()</a></h3>
  #end
<link rel='stylesheet' href='app.css'>
