<p>Add a new definition:</p>

<form action="/definitions" method="post">
  <input id="definitionId" name="definitionId" type="hidden" value="$definition.getId()">

  <div class="form-group">
    <label for="definition">Enter word definition</label>
    <input id="definition" name="definition" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-default">Add Definition</button>
</form>
