
<br>
<h1>Add a new word here:</h1>

<form action="/words" method="post">

  <div class="form-group">
    <label for="userWord">What's your word?</label>
    <input id="userWord" name="userWord" type="text" class="form-control">
  </div>
<br>
  <button type="submit" class="btn btn-success">Add Word</button>
</form>
